name: Auto Index Tree CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: archlinux

    steps:
    - uses: actions/checkout@v3
    - name: Build the site index uses tree command
      run: |
        tree --gitignore -H https://lenchan139.github.io/robi3-robotic-system-config/ -o index.html

    - name: Deploy to robi3 server 
      run: |
        pacman -S sshpass
        sshpass -p $ROBI3_UPLOADER_PASSWORD rsync -e "ssh -oHostKeyAlgorithms=+ssh-dss -o StrictHostKeyChecking=no" -avz --exclude ".*"  $(pwd)/  $ROBI3_UPLOADER_USERNAME@$ROBI3_UPLOADER_HOST:$ROBI3_UPLOADER_PATH/
        
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./
