name: Auto Index Tree CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the site index uses tree command
      run: |
        git ls-tree -r --name-only HEAD | tree --fromfile -H https://lenchan139.github.io/robi3-robotic-system-config/ -o index.html

    - uses: peaceiris/actions-gh-pages@v3
    - name: Deploy
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./
