name: Auto Index Tree CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  container:
    runs-on: ubuntu-latest
    container: archlinux
    environment: github-pages
    steps:
        - uses: actions/checkout@v3
        - name: Deploy to robi3 server 
          run: |
            pacman -Syu sshpass tree --noconfirm
            echo sshpass -p $ROBI3_UPLOADER_PASSWORD rsync -e "ssh -oHostKeyAlgorithms=+ssh-dss -o StrictHostKeyChecking=no" -avz --exclude ".*"  $(pwd)/  $ROBI3_UPLOADER_USERNAME@$ROBI3_UPLOADER_HOST:$ROBI3_UPLOADER_PATH/
            sshpass -p $ROBI3_UPLOADER_PASSWORD rsync -e "ssh -oHostKeyAlgorithms=+ssh-dss -o StrictHostKeyChecking=no" -avz --exclude ".*"  $(pwd)/  $ROBI3_UPLOADER_USERNAME@$ROBI3_UPLOADER_HOST:$ROBI3_UPLOADER_PATH/
            tree --gitignore -H https://lenchan139.github.io/robi3-robotic-system-config/ -o index.html
          env:
            SSHPASS: ${{ secrets.ROBI3_UPLOADER_PASSWORD }}
            ROBI3_UPLOADER_PASSWORD: ${{ secrets.ROBI3_UPLOADER_PASSWORD }}
            ROBI3_UPLOADER_USERNAME: ${{ secrets.ROBI3_UPLOADER_USERNAME }}
            ROBI3_UPLOADER_HOST: ${{ secrets.ROBI3_UPLOADER_HOST }}
            ROBI3_UPLOADER_PATH: ${{ secrets.ROBI3_UPLOADER_PATH }}
        - name: Deploy
          uses: peaceiris/actions-gh-pages@v3
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./
